.payment_method_everypay label img {
    min-width: 7vw;
    max-width: 7vw;
    height: 2em;
}

@media only screen and (max-width: 767px) {
    .payment_method_everypay label img {
        width: 30vw;
    }
}
@media screen and (min-width: 1900px) {
    .payment_method_everypay label img {
        min-width: 5vw;
        max-width: 5vw;
    }
}