
#everypay-modal {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

#everypay-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #888;
    min-width: 35vw;
    max-width: 35vw;
    min-height: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: everypayModalAnimation;
    -webkit-animation-duration: 0.4s;
    animation-name: everypayModalAnimation;
    animation-duration: 0.4s;
    margin-top: 1vw;
}


@-webkit-keyframes everypayModalAnimation {
    from {top:-300px; opacity:0} to {top:10vw; opacity:1}
}

@keyframes everypayModalAnimation {
    from {top:-300px; opacity:0} to {top:10vw; opacity:1}
}

#everypay-modal-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    font-size: 2em;
    font-weight: bold;
    height: 10%;
}

#everypay-modal-header span {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 2vw;
    max-width: 2vw;
    margin-right: 1vw;
    align-self: flex-end;
}
#everypay-modal-header span:hover, #everypay-modal-header span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#pay-form {
    min-width: 100%;
    min-height: 100%;
}

#everypay-logo {
    display: flex;
    min-width: 35vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1em;
    margin: 1vw 0;
}

#everypay-logo  svg {
    margin-left: 1vw;
    height: 1.6rem;
}

#everypay-secure-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 40vw;
    height: 5vh;
}

#everypay-secure-logos svg {
    height: 100%;
}

/*  mobile phones */
@media only screen and (max-width: 767px) {

    #everypay-modal-content {
        min-width: 100vw;
        min-height: 25rem;
    }

    #everypay-modal-header span {
        min-width: 6vw;
        max-width: 6vw;
        height: 80%;
    }

    #everypay-logo {
        flex-direction: row;
    }

    #everypay-secure-logos {
        height: 5vh;
        min-width: 90vw;
    }

}
/* large screens */
@media screen and (min-width: 1900px) {
    #everypay-modal-content {
        min-width: 30vw;
        max-width: 30vw;
    }
}


/* landscape mobiles */
@media only screen and (max-width: 767px) and (orientation: landscape) {

    #everypay-modal-content {
        min-width: 60vw;
        max-width: 60vw;
        min-height: 100vh;
    }

    #everypay-secure-logos {
        height: 5vw;
        min-width: 70vw;
        max-width: 70vw;
    }
}

/* Tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #everypay-modal-content {
        min-width: 60vw;
        max-width: 60vw;
        min-height: 25rem;
    }

    #everypay-secure-logos {
        height: 4vh;
        min-width: 70vw;
        max-width: 70vw;
    }
}